@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
    cursor: default;
}

html{
    width: 100vw;
    height: 100vh;
    background: #fdfdfd;
}

header{
    width: 100%;
    height: 64px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerWordmark{
    height: 36px;
    cursor: pointer;
}

#nav{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}

#searchBar{
    width: fit-content;
    height: 26px;
    padding: 8px;
    border: solid 1px #d9d9d9;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

#searchBarInput{
    width: 300px;
    padding: 2px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: text;
}
#searchBarInput::placeholder{
    color: #d9d9d9;
}

#searchBarBtn{
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

#searchBarIcon{
    width: 12px;
    height: 12px;
    cursor: pointer;
}

main{
    width: 100vw;
    height: calc(100vh - 64px - 36px - 10px);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    transition: all 0.1s ease-in-out;
}

#navigationBar{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.navigationBar_item{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.navigationBar_item img{
    height: 30px;
}

.navigationBar_item p{
    font-family: Teachers;
    font-size: 20px;
    color: #000000;
}

.navigationBar_item:hover{
    opacity: 0.9;
    text-decoration: underline  ;
}

.navigationBar_item:clicked{
    opacity: 1;
}

/* SEÇÕES DO LAYOUT */
#leftSection{
    width: 190px;
    height: 100%;
    /*background-color: rgba(255, 0, 0, 0.4);*/
    padding-left: 10px;
}

#centerSection{
    width: 60vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /*background-color: rgba(127, 255, 212, 0.4);*/
}
#centerSection::-webkit-scrollbar{
    display: none;
}

#rightSection{
    width: 190px;
    height: 100%;
    /*background-color: rgba(255, 0, 0, 0.4);*/
    padding-right: 10px;
}

/* ELEMENTS */
.separator{
    width: 100%;
    height: 2px;
    margin: 10px 5px;
    background-color: #d9d9d9;
}